
<% if params[:controller] == 'home' %>

<!--jumbotron-fluid fills container and adds rounded bottom corners-->
<div class="jumbotron jumbotron-fluid shadow"> 
    <div class="container">

        <h1 class="display-4">Simple. Elegant. Jumbotron.</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    
        <p class="lead">
            <a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a>
        </p>
    </div>
</div>

<% end %>

          
          