<!--can only have one modal at a time-->
<div class="modal fade" id="TEST_MODAL">
    <div class="modal-dialog">
        <div class="modal-content">
                    
            <!--header-->
            <div class="modal-header">
                      
                <!--Title-->
                <h2 class="modal-title">Please Confirm!</h2>
                <!--make dismissible "x button"-->
                <button data-dismiss="modal" type="button" class="close"><span aria-hidden="true">&times;</span></button>
          
            </div>
          
            <!--body-->
            <div class="modal-body">
                <p>This is the modal body</p>
            </div>
          
            <!--footer-->
            <div class="modal-footer">
                <button data-dismiss="modal"  type="button" class="btn btn-secondary">Confirm</button>
            </div>
        </div>
    </div>
</div>