
//fixes custom select
.custom-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    background-image: main-gradient(200deg);
}
//fixes bg gradient on body
html {
    min-height: 100%;
}

//filter image
@mixin addOverlay( $overlay, $alpha ){

    position: relative;
    &:after {
        
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: $overlay;
        background-size: cover;
        opacity: $alpha; 
    }

}

@mixin gradientAnimation( $end, $transTime ){
    z-index: 100;
    @include addOverlay( $end, 0 );
    &:after {
        z-index: -100;
        transition: opacity $transTime;
    }
    &:hover, &:focus, &:active, &:active:focus {
        &:after {
            opacity: 1;
        }
    }
}


.btn-default {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    color:white;
    background-image: main-gradient-dark(200deg);
    
    &:hover, &:focus, &:active, &:active:focus {
        color:white;
    }

    &:after {
        border-radius: 20px;
    }
    @include gradientAnimation(secondary-gradient(200deg, 0), .6s);
}

/*
&:hover, &:focus, &:active, &.active, .open>.dropdown-toggle.& {
    
}
*/












.text-thin {
    font-weight: 300;
}

.container {
    background-color: rgba(255, 255, 255, .9);    
}


  
 
  